<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blogs page</title>
</head>
<body>
    
        <p>Add blogs</p>
        <a href="/blogs">View Blogs</a>
        <form action="/success" method="post">
            <label for="username" >Blog Author</label>
            <input type="text" id="username" name="username" placeholder="name of author">
            <br>
            <br>
            <lable for="title">Title of post</lable>
            <input type="text" id="title" name="title" placeholder="title of post">
            <br>
            <br>
            <label for="body">Body of Post</label>
            <textarea name="body" id="body" placeholder="story"></textarea>
            <br>
            <br>
            <input id="submit" type="submit">
</body>
</html>