<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog site</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
    <div class ="container">
        <h1> Hello World </h1> 
        <p>Welcome to my blogging site</p>
        <a href="/blogs">View Blogs</a>
        <a href="/register">Register</a>
        <a href="/Login">Login</a>
        
        </form>
    </div>
</body>
</html>