<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class ="container">
        <h1> Login </h1> 
        <p>Welcome to my blogging site</p>
        <a href="/blogs">View Blogs</a>
        <form action="/success" method="post">
            <label for="email" >Email</label>
            <input type="text" id="email" name="email" placeholder="Email">
            <br>
            <br>
            <lable for="password">Password</lable>
            <input type="text" id="password" name="password" placeholder="password">
            <br>
            <br>
            <label for="body">Body of Post</label>
            <textarea name="body" id="body" placeholder="story"></textarea>
            <br>
            <br>
            <input id="submit" type="submit">
        </form>
    </div>
</body>
</html>